<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <logger name="ConsoleEchoLogger" additivity="False">
    <appender-ref ref="ConsoleEchoLogger" />
    <level value="ALL"/>
  </logger>
     <appender name="ConsoleEchoLogger" type="log4net.Appender.FileAppender">   
            <file value="LogFiles/console.log" />
            <appendToFile value="true" />
            <encoding value="utf-8" />
            <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date %-5level %logger{1} - %message%newline"/>
            </layout>
    </appender>
</log4net>